
.index-3-r-2-main {
    margin-top: 15px;
    padding: 0.1px 15px 15px 15px;
    background-color: white;
}

.index-3-r-2-title {
    border-bottom: #777777 solid 1px;
    margin-bottom: 15px;
}

.index-3-r-2-content > div {
    margin: 5px 0;
    padding: 2px 5px;
    display: inline-block;
    border: #777777 solid 1px;
}